th{
    text-align:center;

}
form{
    margin: 0px;
}
.ShortInput{
    width: 100px;
}
input[type=radio] {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    padding: 1px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

label:hover {
    color: #666;
}

input[type=radio]:checked + label {
    background: #ffe0a6;
}