/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

li {
    list-style-type: none;
}

.header{

}
.header_menu{

}
.header_list{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(1,1fr);
    padding: 0;
    background-color: royalblue;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    grid-column-start: 1;
    grid-column-end: 4;
}

.my_services{
    grid-column-start: 4;
    grid-column-end: 6;
}

.my_orders{
    grid-column-start: 6;
    grid-column-end: 8;
}

.specifications{
    grid-column-start: 8;
    grid-column-end: 10;
}
.balance{
    grid-column-start: 20;
    grid-column-end: 22;
    font-size: smaller;
    color: white;
}

.login{
    grid-column-start: 22;
    grid-column-end: 24;
}

.log_out{
    grid-column-start: 24;
    grid-column-end: 25;
}

.header_list li{
    padding: 0px;
    position: relative
}

.header_link{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    color: white;
    font-size: 12px;
    text-align: center;
}

.login_as{
    font-size:smaller;
    color: white;
}

.user_name{
    color: white;
    font-size: medium;
    text-decoration:underline;
}

.picture_to_text{
    position:relative;
}
.text_to_picture{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}