*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

.grid_body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    min-height: 25%;
    max-height: 50%;
}

.item{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    border: 2px solid royalblue;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    position: relative;
}

p{
    padding: 2px;
}

.center_button{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: royalblue;
    color: white;
    position: absolute;
    left:0;
    right:0;
    bottom: 4%;
    margin:auto;
}

.payMoney{
    color: red;
}

.field{
    font-weight: bold;
    font-size: 11px;
}

.name{
    font-weight: bold;
}

.message_div{
    height: 90%;
    width: 100%;
    text-align: center;
}

.message{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 20px;
    color: #999999;
}

.disconnect_button{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: #b30909;
    color: white;
    position: absolute;
    right:20%;
    bottom: 4%;
    margin:auto;
}
.restore_button{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: #047204;
    color: white;
    position: absolute;
    left:20%;
    bottom: 4%;
    margin:auto;
}

.cancel_button{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: royalblue;
    color: white;
    position: absolute;
    left:20%;
    bottom: 4%;
    margin:auto;
}

.suspend_button{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: #c28d00;
    color: white;
    position: absolute;
    left:20%;
    bottom: 4%;
    margin:auto;
}

.cancel_button_in_centre{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: royalblue;
    color: white;
    position: absolute;
    left:0;
    right:0;
    bottom: 4%;
    margin:auto;
}

.disconnect_button_in_center{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: #b30909;
    color: white;
    position: absolute;
    left:0;
    right:0;
    bottom: 4%;
    margin:auto 10px;
}

.yellow{
    color: #c28d00;
}

.green{
    color: #047204;
}

.red{
    color: #b30909;
}

.bold{
    font-weight: bold;
}