/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.grid_body{
    padding-left: 4px;
    height: 91%;
    display: grid;
    grid-template: repeat(7, 1fr)/repeat(11, 1fr);
}

.info{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
}

.passwordInfo{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.buttons{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 11;
    grid-column-end: 12;
}

button{
    font-size: 15px;
    border-radius: 5px;
    background-color: royalblue;
    padding: 5px;
    color: white;
}

input[type="text"] {
    border: 1px solid royalblue;
    border-radius: 3px;
    font-size: 20px;
    position: absolute;
    left: 17%;
}

input[type="password"] {
    border: 1px solid royalblue;
    border-radius: 3px;
    font-size: 20px;
    position: absolute;
    left: 17%;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}

.hrefButton{
    background:royalblue;
    padding: 5px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
}

.about_this_page{
    font-size: 14px;
}

select{
    border: 1px solid royalblue;
    border-radius: 3px;
    font-size: 20px;
    position: absolute;
    left: 17%;
    width: 245px;
}